.fa-heart {
  color: red;
}

.rpsImgs {
  width: auto;
  height: 17.5rem;
}

.flip {
  transform: rotateY(180deg);
}

.scale {
  transition: 0.3s;
}

.scale:hover {
  scale: 1.1;
}

.scale:active {
  scale: 1;
}

.rpsChoices {
  width: 12rem;
  height: 12rem;
}

.btn {
  border: none;
}

.hide {
  opacity: 0;
  visibility: hidden;
}