.fa-heart {
  color: red;
}

.rpsImgs {
  width: auto;
  height: 17.5rem;
}

.flip {
  transform: rotateY(180deg);
}

.scale {
  transition: 0.3s;
}

.scale:hover {
  scale: 1.1;
}

.scale:active {
  scale: 1;
}

.rpsChoices {
  width: 12rem;
  height: 12rem;
}

.btn {
  border: none;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.shake1 {
  animation: shake 1.5s;
  animation-iteration-count: 1;
}

.shake2 {
  animation: shakeFlipped 1.5s;
  animation-iteration-count: 1;
}

@keyframes shake {
  8.33% { transform: rotate(-10deg); }
  25% { transform: rotate(10deg); }
  33.33% { transform: rotate(-10deg); }
  58.33% { transform: rotate(10deg); }
  66.67% { transform: rotate(-10deg); }
  91.67% { transform: rotate(10deg); }
}

@keyframes shakeFlipped {
  25% { transform: rotateY(180deg) rotate(-10deg); }
  75% { transform: rotateY(180deg) rotate(10deg); }
}